<article class="main-wrapper row">
    <header><span>Minesweeper Game</span></header>
    <div class="content col-md-12">
        <div class="row">
            <aside class="col-md-3">
                <button class="btn btn-primary my-button new_game">New Game</button>
                <button class="btn btn-success my-button check_mines">Check Mines</button>
                <div class="stat">
                    <label>Grid:</label>
                    <span class="value"><%= gridDimension %></span>
                    <br/>
                    <label>Mines:</label>
                    <span class="value"><%= totalMines %></span>
                </div>
            </aside>
            <section class="grid_wrapper col-md-9"></section>
        </div>
    </div>
</article>