<article class="row">
    <header>Minesweeper</header>
    <div class="content col-md-12">
        <div class="row">
            <aside class="col-md-3">
                <button id="new_game" class="btn btn-primary my-button">New Game</button>
                <button id="check_mines" class="btn btn-success my-button">Check Mines</button>
                <div class="stat">
                    <label>Grid:</label>
                    <span class="value"><%= gridDimension %></span>
                    <br/>
                    <label>Mines:</label>
                    <span class="value"><%= totalMines %></span>
                </div>
            </aside>
            <section class="grid_wrapper col-md-9"></section>
        </div>
    </div>
</article>